In [11]:
import pandas as pd

**Задание 1**

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [98]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [101]:
table = ratings.groupby('userId').count().reset_index()
table = table[table['rating'] > 100]
table = table[['userId','rating']]

In [103]:
def avgtime(user):
    mintimestamp = ratings[['userId','timestamp']].query(f' userId == {user}')[['timestamp']].min()
    maxtimestamp = ratings[['userId','timestamp']].query(f' userId == {user}')[['timestamp']].max()
    return maxtimestamp - mintimestamp

In [104]:
table['avgtimestamp'] = table['userId'].apply(avgtime)

In [105]:
table.head(10)

    userId  rating  avgtimestamp
3        4     204        203560
7        8     116         85187
14      15    1700     471393496
16      17     363          8053
18      19     423          5282
20      21     162       1365432
21      22     220         91491
22      23     726      18342129
25      26     172      20267261
29      30    1011     115852276

**Задание 2**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [120]:
urls = pd.read_csv('URLs.txt')

In [134]:
urls

                                                  url
0                                             /world/
1                                            /latest/
2                                       /?updated=top
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[93 rows x 1 columns]

In [136]:
urls[urls['url'].str.contains(r'/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

**Задание 3**
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [141]:
from pymystem3 import Mystem as m

In [196]:
data = pd.DataFrame({'keywords':['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля']})

In [210]:
def lemcreator(string):
    return ' '.join(m.lemmatize(string)).strip()

In [211]:
data['lemmas'] = data['keywords'].apply(lemcreator)

In [212]:
data

                keywords                     lemmas
0    курс гривны к рублю  курс   гривна   к   рубль
1        доллары в рубли         доллар   в   рубль
2  100 долларов в рублях   100   доллар   в   рубль
3             курс рубля               курс   рубль